.page {
    margin: 20px;
}
.interactions {
    text-align: center;
}
.table {
    margin: 20px 0;
}
.table-header {
    display: flex;
    line-height: 24px;
    font-size: 14px;
    padding: 0 10px;
    justify-content: space-between;
}
.table-empty {
    margin: 200px;
    text-align: center;
    font-size: 16px;
}
.table-row {
    display: flex;
    line-height: 24px;
    white-space: nowrap;
    margin: 10px 0;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #e3e3e3;
}
.table-header > span {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}
.table-row > span {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}
.button-inline {
    border-width: 0;
    background: transparent;
    color: inherit;
    text-align: inherit;
    -webkit-font-smoothing: inherit;
    padding: 0;
    font-size: inherit;
    cursor: pointer;
}
.button-active {
    border-radius: 0;
    border-bottom: 2px solid #bb000e;
}

.loader {
    position: absolute;
    left: 45%;
    top: 20%;
    border: 7px solid rgba(197, 200, 200, 0.93); /* Light grey */
    border-top: 7px solid #1edb0a; /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 0.5s linear infinite;
}


@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
